= render 'shared/side_bar'
.right-contents
  .right-contents__menu
    .right-contents__menu__box
      .right-contents__menu__box--group
        group-title
      .right-contents__menu__box--name
        Menber: anomeme
    .right-contents__menu__btn
      = link_to 'Edit', edit_group_path(@group)
  .right-contents__maine
    .right-contents__maine--info
      .right-contents__maine--info--user
        anomeme
      .right-contents__maine--info--date
        2019,10,7 12:00:00
    .right-contents__maine--text
      よろしくです
  .right-contents__footer
    .right-contents__footer__box
      .right-contents__footer__box--message
        = form_for [@group, @message] do |f|
          =f.text_field :text, class: 'form__message', placeholder: 'type a message'
          .right-contents__footer__box--message--image
            =f.label :image, class: 'form__mask__image' do
              =fa_icon 'picture-o', class: 'icon'
              =f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
